<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/styles.css">


=======
    <link rel="stylesheet" href="../public/css/styles.css">
>>>>>>> 7eb4613e08401fa9fb8a4d22ce5c1e1108994847
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>