<%- include('../partials/header') %>

<main>
  <h1><%= title %></h1>
  <img src="<%= vehicleData.inv_image %>" alt="Image of <%= vehicleData.inv_make %> <%= vehicleData.inv_model %>" />
  <h2>Vehicle Details</h2>
  <ul>
    <li><strong>Make:</strong> <%= vehicleData.inv_make %></li>
    <li><strong>Model:</strong> <%= vehicleData.inv_model %></li>
    <li><strong>Year:</strong> <%= vehicleData.inv_year %></li>
    <li><strong>Price:</strong> $<%= new Intl.NumberFormat('en-US').format(vehicleData.inv_price) %></li>
    <li><strong>Miles:</strong> <%= new Intl.NumberFormat('en-US').format(vehicleData.inv_miles) %></li>
    <li><strong>Color:</strong> <%= vehicleData.inv_color %></li>
    <li><strong>Description:</strong> <%= vehicleData.inv_description %></li>
  </ul>
</main>

<%- include('../partials/footer') %>
