
<main>
    <h1><%= vehicleData.inv_year %> <%= title %></h1>
    <div class="vehicle-details">
      <img src="<%= vehicleData.inv_image %>" alt="Image of <%= vehicleData.inv_make %> <%= vehicleData.inv_model %>" />
      <div class="vehicle-info">
        <h2><%= vehicleData.inv_make %> <%= vehicleData.inv_model %> Details</h2>
        <ul>
          <li class="price"><strong>Price:</strong> $<%= new Intl.NumberFormat('en-US').format(vehicleData.inv_price) %></li>
          <li><strong>Description:</strong> <%= vehicleData.inv_description %></li>
          <li class="color"><strong>Color:</strong> <%= vehicleData.inv_color %></li>
          <li><strong>Miles:</strong> <%= new Intl.NumberFormat('en-US').format(vehicleData.inv_miles) %></li>
        </ul>
      </div>
    </div>
</main>
  
  

